@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display+SC:wght@400;700&family=Roboto:wght@400;700&display=swap"); /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input {
  background-color: none;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 105px;
  max-width: 1439px;
}
@media screen and (max-width: 1399px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.title {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  color: #808080;
}

.none {
  display: none !important;
}

.border {
  width: 100%;
  height: 2px;
  background-color: #808080;
}

@media screen and (max-width: 1399px) {
  .header {
    display: none;
  }
}

.header__container {
  margin: 0 auto;
  padding: 0 81px;
  max-width: 1273px;
}

.header__top-row {
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding-top: 28px;
  font-size: 16px;
  padding-bottom: 17px;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  align-items: center;
}

.phone__list {
  display: flex;
}

.header__link {
  padding-right: 35px;
}
.header__link .country {
  height: 25px;
  width: 25px;
}
.header__link .phone {
  height: 18px;
  width: 18px;
}
.header__link a {
  padding: 0 6px;
}

.language {
  width: 77px;
  color: #808080;
  margin: 0 45px;
}

.language__link_active {
  border: 1px solid #808080;
  width: 26px;
  height: 26px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 0px;
  border: 2px solid #000000;
  background-color: rgb(6, 6, 6);
  margin: 6px 0;
  transition: 0.4s;
}
@media screen and (max-width: 1399px) {
  .bar1, .bar2, .bar3 {
    border: 2px solid white;
  }
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.spainhouse {
  height: 657px;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url("./../../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .spainhouse {
    height: 813px;
  }
}

.spainhouse__title {
  padding-top: 169px;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  color: white;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1399px) {
  .spainhouse__title {
    padding-top: 267px;
    font-size: 35px;
    line-height: 47px;
  }
}

.spainhouse__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 4px;
  margin: 0 auto;
  width: 512px;
}
@media screen and (max-width: 1399px) {
  .spainhouse__subtitle {
    padding-top: 9px;
    font-size: 13px;
    line-height: 30px;
    max-width: 310px;
    margin-bottom: 321px;
  }
}

.spain__header {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 32px;
  }
}

.spain__polygon {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__polygon {
    margin: 0 auto;
    display: flex;
  }
}

.about {
  max-height: 540px;
}
@media screen and (max-width: 1399px) {
  .about {
    max-height: 800px;
  }
}

.about__content {
  display: flex;
  padding-top: 35px;
}
@media screen and (max-width: 1399px) {
  .about__content {
    flex-direction: column;
  }
}

.about__info {
  padding-top: 8px;
}

@media screen and (max-width: 1399px) {
  .about__title {
    text-align: center;
  }
}

.about__text {
  padding-top: 32px;
  font-size: 16px;
  max-width: 574px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1399px) {
  .about__text {
    padding-top: 27px;
    text-align: center;
    margin: 0 auto;
    max-width: none;
    min-width: 316px;
  }
}

.about__subtext {
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #808080;
}
@media screen and (max-width: 1399px) {
  .about__subtext {
    padding-top: 29px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 29px;
  }
}

.about__img {
  padding-top: 29px;
  padding-left: 226px;
}
@media screen and (max-width: 1399px) {
  .about__img {
    margin: 0 auto;
    padding-left: 0;
    display: none;
  }
}

.about__img-img {
  z-index: 10;
  top: -410px;
  left: 90px;
  position: relative;
  max-height: 449px;
}
@media screen and (max-width: 1399px) {
  .about__img-img {
    max-width: 367px;
  }
}
@media screen and (max-width: 576px) {
  .about__img-img {
    display: none;
  }
}

.about__border-box {
  border: 1px solid #808080;
  width: 492px;
  height: 387px;
  z-index: 5;
}
@media screen and (max-width: 576px) {
  .about__border-box {
    display: none;
  }
}

.about__hidden {
  display: none;
}
@media screen and (max-width: 376px) {
  .about__hidden {
    display: block;
    height: 306px;
  }
}

.about__border {
  width: 100%;
  height: 1px;
  background-color: #808080;
}

@media screen and (max-width: 576px) {
  .about__hidden-img {
    margin: 22px;
    height: 262px;
    background-image: url(../../img/about/mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1399px) {
  .about__hidden-img-img {
    max-height: 246px;
    background: url("./../../img/about/mobile.png") no-repeat center center;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.recommended {
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
@media screen and (max-width: 1399px) {
  .recommended {
    padding-top: 35px;
  }
}
@media screen and (max-width: 376px) {
  .recommended {
    padding-top: 50px;
    margin-top: 200px;
  }
}

.recommended__title {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.recommended_text {
  padding-top: 24px;
  align-items: center;
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
  padding-bottom: 19px;
}
@media screen and (max-width: 1399px) {
  .recommended_text {
    display: none;
  }
}

.btn {
  width: 282px;
  height: 56px;
  background: #808080;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 54px;
}

.cards {
  margin: 0 16px;
  font-family: "Open Sans", sans-serif;
  color: #606060;
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: 392px 392px 392px;
  grid-template-rows: 532px 436px;
  -moz-column-gap: 29px;
       column-gap: 29px;
  row-gap: 26px;
  justify-content: center;
}
@media screen and (max-width: 1399px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    grid-template-rows: auto;
    row-gap: 21px;
  }
}

.cards > div:nth-child(1) {
  grid-row-start: span 2;
}
@media screen and (max-width: 1399px) {
  .cards > div:nth-child(1) {
    grid-row: 2;
  }
}

.cards > div:nth-child(2) {
  grid-column-start: span 2;
}
@media screen and (max-width: 1399px) {
  .cards > div:nth-child(2) {
    grid-column-start: 1;
  }
}

.first-card .card__slider {
  height: 804px;
  background: url("./../../img/recommended/1.png") no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1399px) {
  .first-card .card__slider {
    height: 246px;
  }
}

.second-card .card__slider {
  height: 340px;
  background: url("./../../img/recommended/2.png") no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1399px) {
  .second-card .card__slider {
    height: 246px;
  }
}

.third-card .card__slider {
  height: 246px;
  background: url("./../../img/recommended/3.png") no-repeat center center;
  background-size: cover;
}

.fourth-card .card__slider {
  height: 246px;
  background: url("./../../img/recommended/3.png") no-repeat center center;
  background-size: cover;
}

.card {
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
}

.card__about {
  max-height: 190px;
  padding-bottom: 9px;
}

.card__about-content {
  margin: 9px 9px 0px 8px;
  border: 1px solid #808080;
  align-items: center;
  text-align: center;
}

.card__articul {
  padding-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
}

.card__title {
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.card__total {
  padding-top: 11px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 110px;
  align-items: center;
}

.card__price {
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.card__price-icon {
  height: 12px;
  width: 12px;
}

.card__info {
  padding-top: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 222px;
}

.card__terassa {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  padding-bottom: 10px;
}

.instagram__img {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 17px;
}

.instagram__title {
  align-items: center;
  text-align: center;
}

.instagram__account {
  font-family: "Open Sans", sans-serif;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: black;
}
@media screen and (max-width: 1399px) {
  .instagram__account {
    font-size: 16px;
  }
}

.instagram__grid {
  margin-top: 25px;
  margin-bottom: 73px;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 52px;
  justify-content: space-between;
}
@media screen and (max-width: 1399px) {
  .instagram__grid {
    gap: 14px;
  }
}

.instagram__btn {
  margin-bottom: 60px;
}

.contacts__hidden {
  display: none;
}
@media screen and (max-width: 576px) {
  .contacts__hidden {
    display: block;
  }
}

.contacts__hidden-border {
  height: 2px;
  background-color: #808080;
  width: 100%;
}

.contacts__hidden-img {
  margin: 24px;
  height: 454px;
  background-image: url(./../../img/katrin/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(9px 9px 12px rgba(0, 0, 0, 0.19));
}

@media screen and (max-width: 1399px) {
  .contacts__border {
    display: none;
  }
}

.contacts__content {
  margin-top: 126px;
  display: flex;
}
@media screen and (max-width: 1399px) {
  .contacts__content {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .contacts__content {
    margin-top: 27px;
  }
}

.contacts__img {
  max-height: 502px;
}
@media screen and (max-width: 1399px) {
  .contacts__img {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .contacts__img {
    display: none;
  }
}

.contacts__border-box {
  width: 496px;
  height: 391px;
  border: 1px solid #808080;
}

.contacts__img-img {
  position: relative;
  align-items: center;
  top: -425px;
  left: 80px;
  background-image: url(./../../img/katrin/1.png);
  height: 502px;
  width: 370px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1399px) {
  .contacts__img-img {
    left: 15px;
  }
}

.contacts__info {
  padding-left: 79px;
  margin-bottom: 57px;
  margin-top: 40px;
}
@media screen and (max-width: 1399px) {
  .contacts__info {
    padding-left: 0;
    margin-top: -400px;
  }
}
@media screen and (max-width: 768px) {
  .contacts__info {
    margin-top: 0;
  }
}

.contacts__title {
  text-align: left;
  margin-bottom: 23px;
}
@media screen and (max-width: 1399px) {
  .contacts__title {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .contacts__title {
    display: none;
  }
}

.contacts__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 34px;
}

.contacts__accent {
  font-weight: 700;
}

.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 28px;
  max-width: 644px;
}

.contacts__language {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
  margin-bottom: 27px;
}

.contacts__button {
  width: 282px;
  height: 56px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #808080;
  border: 2px solid #808080;
}

.footer {
  background-color: #808080;
  align-items: center;
  text-align: center;
}

.footer__logo {
  margin-top: 32px;
  margin-bottom: 18px;
}

.social__networks {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin: 0 auto;
}

.prava {
  margin-top: 23px;
  padding-bottom: 32px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.aside-menu {
  display: none;
}

.aside-menu__hidden {
  display: block;
  position: fixed;
  background-color: white;
  height: 100vh;
  right: 0;
  top: 0;
  padding-left: 43px;
  z-index: 11;
}
@media screen and (max-width: 1399px) {
  .aside-menu__hidden {
    padding-left: 13px;
  }
}

.cross {
  margin-left: -4px;
  margin-top: 31px;
}
@media screen and (max-width: 1399px) {
  .cross {
    margin-left: 8px;
  }
}

.aside__language {
  display: none;
}
@media screen and (max-width: 1399px) {
  .aside__language {
    display: block;
    margin-top: 13px;
    margin-bottom: 24px;
    margin-left: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}

.aside-language__link_active {
  border: 1px solid #808080;
  padding: 4px 4px;
}

.greeting {
  margin-right: 57px;
  font-family: "Playfair Display SC", serif;
  color: #808080;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  max-width: 227px;
  align-items: center;
  text-align: center;
  padding-bottom: 43px;
  padding-top: 52px;
}
@media screen and (max-width: 1399px) {
  .greeting {
    margin-right: 32px;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }
}

.nav-list {
  border-top: 1px solid #808080;
}

.list-item {
  padding-right: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid #808080;
  padding-top: 9px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .list-item {
    padding-left: 7px;
    padding-right: 23px;
    font-size: 14px;
    line-height: 19px;
  }
}

.phone-numbers {
  margin-top: 21px;
  display: flex;
  gap: 14px;
  flex-direction: column;
}
@media screen and (max-width: 1399px) {
  .phone-numbers {
    display: none;
  }
}

.phone-numbers-item {
  align-items: center;
}
.phone-numbers-item a {
  padding: 0 7px;
}

.flag {
  height: 18px;
  width: 18px;
}

.social-networks {
  padding-top: 42px;
  padding-left: 78px;
  display: flex;
  gap: 22px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.phone-numbers__mobile {
  display: none;
}
@media screen and (max-width: 1399px) {
  .phone-numbers__mobile {
    display: block;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 8px;
  }
}

.phone-numbers-mobile__item img {
  margin-right: 13px;
}

.newbuildings {
  height: 657px;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url("./../../../img/newbuildings/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .newbuildings {
    height: 813px;
  }
}

.spainhouse__title {
  padding-top: 169px;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  color: white;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1399px) {
  .spainhouse__title {
    padding-top: 267px;
    font-size: 35px;
    line-height: 47px;
  }
}

.spainhouse__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 4px;
  margin: 0 auto;
  width: 512px;
}
@media screen and (max-width: 1399px) {
  .spainhouse__subtitle {
    padding-top: 9px;
    font-size: 13px;
    line-height: 30px;
    max-width: 310px;
    margin-bottom: 321px;
  }
}

.spain__header {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 32px;
  }
}

.spain__polygon {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__polygon {
    margin: 0 auto;
    display: flex;
  }
}

.newbuildings__grid {
  margin-top: 80px;
  margin-bottom: 109px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 381px);
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 1399px) {
  .newbuildings__grid {
    gap: 46px;
  }
}
@media screen and (max-width: 376px) {
  .newbuildings__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 341px));
  }
}

.newbuildings__grid-item {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.grid-item__img {
  height: 246px;
  background-image: url(/img/newbuildings/newbuildings-cards/1.png);
  background-size: cover;
}

.grid-item__info {
  padding: 10px;
}

.grid-item__info-inside {
  border: 1px solid #808080;
  padding: 12px 99px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  color: #606060;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.secondaryrealty {
  height: 657px;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url("./../../../img/secondaryrealty/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1399px) {
  .secondaryrealty {
    height: 813px;
  }
}

.spainhouse__title {
  padding-top: 169px;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  color: white;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1399px) {
  .spainhouse__title {
    padding-top: 267px;
    font-size: 35px;
    line-height: 47px;
  }
}

.spainhouse__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 4px;
  margin: 0 auto;
  width: 512px;
}
@media screen and (max-width: 1399px) {
  .spainhouse__subtitle {
    padding-top: 9px;
    font-size: 13px;
    line-height: 30px;
    max-width: 310px;
    margin-bottom: 321px;
  }
}

.spain__header {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 32px;
  }
}

.spain__polygon {
  display: none;
}
@media screen and (max-width: 1399px) {
  .spain__polygon {
    margin: 0 auto;
    display: flex;
  }
}

.searching {
  padding-top: 24px;
  padding-bottom: 112px;
}

.searching__articul {
  max-width: 242px;
  border: 1px solid #808080;
  padding: 13px 19px 13px 57px;
  font-size: 18px;
  color: #808080;
  background-color: white;
  background-image: url(./../../img/searching/searching-magnifying-glass\ 1.svg);
  background-position: 19px 13px;
  background-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */