.cards {
    margin: 0 16px;
    font-family: $font-main;
    color: $text-gray;
    margin-bottom: 65px;
    display: grid;
    grid-template-columns: 392px 392px 392px;
    grid-template-rows: 532px 436px;
    column-gap: 29px;
    row-gap: 26px;
    justify-content: center;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
        grid-template-rows: auto;
        row-gap: 21px;
    }

}

.cards>div:nth-child(1) {
    grid-row-start: span 2;

    @include mediaTablet {
        grid-row: 2;
    }
}

.cards>div:nth-child(2) {
    grid-column-start: span 2;

    @include mediaTablet {
        grid-column-start: 1;
    }
}

.first-card {
    .card__slider {
        height: 804px;
        background: url("./../../img/recommended/1.png") no-repeat center center;
        object-fit: cover;

        @include mediaTablet {
            height: 246px;
        }
    }
}

.second-card {
    .card__slider {
        height: 340px;
        background: url("./../../img/recommended/2.png") no-repeat center center;
        object-fit: cover;

        @include mediaTablet {
            height: 246px;
        }
    }
}

.third-card {
    .card__slider {
        height: 246px;
        background: url("./../../img/recommended/3.png") no-repeat center center;
        background-size: cover;
    }
}

.fourth-card {
    .card__slider {
        height: 246px;
        background: url("./../../img/recommended/3.png") no-repeat center center;
        background-size: cover;
    }
}

.card {

    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3);
}

.card__slider {}

.card__about {
    max-height: 190px;
    padding-bottom: 9px;
}

.card__about-content {
    margin: 9px 9px 0px 8px;
    border: 1px solid $gray;
    align-items: center;
    text-align: center;
}

.card__articul {

    padding-top: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}

.card__title {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

}

.card__total {
    padding-top: 11px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 110px;
    align-items: center;
}

.card__price {
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.card__price-icon {
    height: 12px;
    width: 12px;
}

.card__info {
    padding-top: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 222px;
}

.card__square {}

.card__bedrooms {}

.card__terassa {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 10px;
}