.contacts {}

.contacts__hidden{
    display: none;
    @include mediaExtraSmall{
        display: block;
    }
}
.contacts__hidden-border {
  height: 2px;
  background-color: $gray;
  width: 100%;
  
}
.contacts__hidden-img {
    margin: 24px;
    height: 454px;
    background-image: url(./../../img/katrin/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(9px 9px 12px rgba(0, 0, 0, 0.19));
}

.contacts__border{
    @include mediaTablet{
        display: none;
    }
}
.contacts__content {

    margin-top: 126px;
    display: flex;

    @include mediaTablet {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    @include mediaMobile{
        margin-top: 27px;
    }
}

.contacts__img {
    max-height: 502px;

    @include mediaTablet {
max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @include mediaMobile{
        
        display: none;
    }
}

.contacts__border-box {

    width: 496px;
    height: 391px;
    border: 1px solid $gray;
}

.contacts__img-img {
    position: relative;
    align-items: center;
    top: -425px;
    left: 80px;
    background-image: url(./../../img/katrin/1.png);
    height: 502px;
    width: 370px;
    background-repeat: no-repeat;
    @include mediaTablet {
        left: 15px;
    }
     
}

.contacts__info {
    padding-left: 79px;
    margin-bottom: 57px;
    margin-top: 40px;
    @include mediaTablet{
        padding-left: 0;
        margin-top: -400px;
    }
    
    @include mediaMobile{
        margin-top: 0;
    }
}

.contacts__title {
    text-align: left;
    margin-bottom: 23px;
    @include mediaTablet{
        text-align: center;
    }
    @include mediaExtraSmall{
        display: none;
    }
}

.contacts__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 34px;
}

.contacts__accent {
    font-weight: 700;
}

.contacts__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
    max-width: 644px;
}

.contacts__language {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $gray;
    margin-bottom: 27px;
}

.contacts__button {
    width: 282px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $gray;
    border: 2px solid $gray;
}