.header{

    @include mediaTablet{
        display: none;
    }
}
.header__container{
    margin:0 auto;
    padding: 0 81px;

    max-width:1273px;
   
}

.header__top-row {
    display: flex;
    font-family: $font-main;
    padding-top: 28px;
    font-size: 16px;
    padding-bottom: 17px;
    justify-content:space-between ;

}
.header_nav {
    display: flex;
    align-items: center   ;
}
.phone__list {
    display: flex;
}   
.header__link {
    padding-right: 35px;
    .country{
        height: 25px;
        width: 25px;
    }
    .phone{
        height: 18px;
        width: 18px;
    }
    a{
        padding: 0 6px;
    }
}
.link__whatsapp {
}
.link__spain {
}
.link__russia {
}
.language {
    width: 77px;
    color: $gray;
    margin: 0 45px;
}
.language__link {
}
.language__link_active {
    border: 1px solid $gray;
    width: 26px;
height: 26px;
}
.header__nav-btn {
}
.bar1 {
}
.bar2 {
}
.bar3 {
}